block footer

  footer.main-footer
    .container-fluid
      .row
        .col-sm-6
          p Gestion salle de sport© 2017-2019
        .col-sm-6.text-right
          p
            | Design by 
            a.external(href='https://bootstrapious.com') Bootstrapious
          // Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)
