nav.navbar.navbar-expand-md.navbar-dark.bg-primary.p-1
  .container
    button.navbar-toggler.navbar-toggler-right.border-0(type='button', data-toggle='collapse', data-target='#navbar16')
      span.navbar-toggler-icon
    a.navbar-brand.p-0(href='#')
      i.fa.d-inline.fa-lg.fa-stop-circle
      b  DoerDIE
    #navbar16.collapse.navbar-collapse
      a.btn.navbar-btn.ml-md-2.btn-light.text-dark Contact us
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='#') Features
        li.nav-item
          a.nav-link(href='#') Pricing
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='#') FAQ
