doctype html
html
  head
    include ./layouts/head

    block styles
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
      link(rel='stylesheet', href='/css/theme.css', type='text/css')
      link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
      link(rel='shortcut icon', href='/img/favicon.ico')

  body

    .page(style='')
      block content
          include ./layouts/header
