doctype html
html
  head
    include ./layouts/head

    block styles
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
      link(rel='stylesheet', href='/css/theme.css', type='text/css')
      link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
      link(rel='shortcut icon', href='/img/favicon.ico')

  body

    .page(style='')
      block content
          include ./layouts/header

    block scripts
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(src='vendor/popper.js/umd/popper.min.js')
      script(src='vendor/bootstrap/js/bootstrap.min.js')
      script(src='js/grasp_mobile_progress_circle-1.0.0.min.js')
      script(src='vendor/jquery.cookie/jquery.cookie.js')
      script(src='vendor/chart.js/Chart.min.js')
      script(src='vendor/jquery-validation/jquery.validate.min.js')
      script(src='vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
      script(src='/js/front.js')
