doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/css/theme.css')
  body.bg-light
    nav.navbar.bg-primary.navbar-dark
      .container
        a.navbar-brand(href='#')
          i.fa.d-inline.fa-lg.fa-circle
          b  BRAND
    .py-3.h-100(style='')
      .container
        .row
          .col-md-12.text-center
            h3.text-primary
              b My Workgroups
        .row
          .col-md-12.py-4(style='')
            ul.list-group(style='	box-shadow: 2px 2px 4px  #b9b9b9;')
              each w in args.workgroups
                a(href='/workgroups/'+w._id)
                  li.list-group-item.d-flex.justify-content-between.align-items-center.px-1(style='')
                    .row.w-100.m-0.p-0
                      .col-md-4.col-8(style='')= w.title
                      .col-md-4.col-2
                        span.badge.badge-pill.badge-danger
                          i.fa.fa-fw.fa-exclamation-triangle
                          |  14
                      .col-md-4.col-2
                        span.badge.badge-primary.badge-pill
                          i.fa.fa-user.fa-fw
                          |  14
        .row
          .col-md-12.py-2.text-left.h-100.d-flex.flex-column
            a.btn.btn-primary.btn-lg.w-25.fixed-bottom.m-3(href='#', data-toggle='modal', data-target='#createWorkgroupModal', style='	border-top-left-radius: 100px;	border-top-right-radius: 100px;	border-bottom-left-radius: 100px;	border-bottom-right-radius: 100px;')
              i.fa.fa-fw.fa-plus-circle
              |  New
    #createWorkgroupModal.modal.my-5
      .modal-dialog(role='document')
        .modal-content
          .modal-header.bg-primary
            h5.modal-title.text-white Create Workgroup
            button.close.text-white(type='button', data-dismiss='modal')
              span.text-white(style='') ×
          .modal-body.px-4
            .row
              .col-md-12(style='')
                .row
                  .form-group.w-100
                    label(for='form16', style='') Title
                    input#workgroupTitle.form-control.text-primary(type='text', placeholder='Title')
                .row
                  .form-group.w-100
                    label(for='form16', style='') Challenge
                    input#challengeTitle.form-control.text-primary(type='text', placeholder='Challenge')
          .modal-footer
            button.btn.btn-primary(type='button') Create
    .py-5
      .container
        .row
          .col-md-6
          .col-md-6
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
