append content
  .p-2
  .container.text-center.d-flex.flex-column.justify-content-between
    .row
      .text-center.col-md-12
        h5(style='', contenteditable='true') create or choose a work groupe
    .row.text-center
      .col-md-12.rounded.col-lg-12.p-1
        .card.bg-light.shadow-none(style='	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black;')
          .card-body.p-2(style='height:20%')
            .row.h-50
              .col-md-12.h-100.d-flex.flex-column.justify-content-between
                .row.p-0
                  .col-md-12.text-center
                    a.btn.btn-primary.w-75(data-toggle='modal', data-target='#ajouter_adherent_modal', href='') Create Workgroup
    .row
      .col-md-12
        h1 My workgroups
    .row.text-center.h-100
      .col-md-12.rounded.col-lg-12.p-1.h-100
        .card.bg-light.shadow-none.h-100(style='	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black;')
          .card-body.h-100.p-2(style='')
            .row.h-100
              .col-md-12.h-100.d-flex.flex-column.justify-content-between
                .row
                  each w in args.workgroups
                    .col-md-12.text-center.py-2
                      a.btn.btn-primary.w-75(href='#')= w.title


  #ajouter_adherent_modal.modal.text-left(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title New workgroup
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
          div
            .container
              .row.p-0
                .col-md-12.p-0
                  .form-group
                    label(for='form16', style='') Title
                    input#workgroup-title.form-control.text-primary.form-control-sm(type='text', placeholder='Name')
                  .form-group
                    label(for='form18') Penalty
                    input#workgroup-penality.form-control.form-control-sm(type='text', placeholder='Penality')
                  .form-group
                    label(for='form18') Deadline
                    input#workgroup-deadline.form-control.form-control-sm(type='date', placeholder='date')
                  .form-group.text-center
                    button#submitWorkgroup.btn.btn-primary.text-center.w-75(type='submit', style='') Submit
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='js/workgroups.js')