append content
  .p-2
  .container.text-center.d-flex.flex-column.justify-content-between
    .row
      .text-center.col-md-12
        h5(style='', contenteditable='true') create or choose a work groupe
    .row.text-center
      .col-md-12.rounded.col-lg-12.p-1
        .card.bg-light.shadow-none(style='	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black;')
          .card-body.p-2(style='height:20%')
            .row.h-50
              .col-md-12.h-100.d-flex.flex-column.justify-content-between
                .row.p-0
                  .col-md-12.text-center
                    a.btn.btn-primary.w-75(data-toggle='modal', data-target='#deletePricingModal', href='', id='create-workgroup') Create Workgroup
    .row
      .col-md-12
        h1 My workgroups
    .row.text-center.h-100
      .col-md-12.rounded.col-lg-12.p-1.h-100
        .card.bg-light.shadow-none.h-100(style='	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black;')
          .card-body.h-100.p-2(style='')
            .row.h-100
              .col-md-12.h-100.d-flex.flex-column.justify-content-between
                .row
                  each w in args.workgroups
                    .col-md-12.text-center.py-2
                      a.btn.btn-primary.w-75(href='#')= w.title
    #deletePricingModal.modal.fade
      .modal-dialog
          .modal-content
              form
                  .modal-header
                      h4.modal-title Supression
                      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  .modal-body
                      p Confirmer la supression du pricing
                      p.text-warning
                          small Cette opération est irreversible
                  .modal-footer
                      input.btn.btn-default(type='button', value='Annuler', data-dismiss='modal')
                      input.btn.btn-danger(type='button', value='Supprimer', id='deletePricingButton')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='/js/workgroups.js')
