append content
  .p-2(style='')
    .container.text-center.d-flex.flex-column.justify-content-between
      .row
        .text-center.col-md-12
          h3(contenteditable='true') Workgroupe title
      .row
        .container
          .row
            .text-center.col-md-6.w-25.d-flex.flex-column.justify-content-center
              img.img-fluid.d-block.float-left(src='F:/site/potion.png', width='100')
            .col-md-6.w-75.p-1
              h6.bg-danger.text-light.rounded.p-1.px-2.text-center
                strong Challenge
              p.lead.text-danger the loser will organize the chamber !
      .row.text-center
        .col-md-12.rounded.col-lg-12.py-4
          h2(contenteditable='true') My tasks
      .row
        .col-md-12
          .row
            .col-md-12
              ul.list-group
                li.list-group-item.d-flex.justify-content-between.align-items-center
                  | Cras justo odio 
                  span.badge.badge-primary.badge-pill 14
                li.list-group-item.d-flex.justify-content-between.align-items-center
                  | Dapibus ac facilisis in 
                  span.badge.badge-primary.badge-pill 2
                li.list-group-item.d-flex.justify-content-between.align-items-center
                  | Morbi leo risus 
                  span.badge.badge-primary.badge-pill 1
          .row
            .col-md-12.text-right
              a.btn.btn-primary.m-1.w-25(href='#') Add

  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='js/workgroup.js')